<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Lenovo/Desktop/New folder (2)/RestAssured/freecrmtestautomation"><classes><class name="com.crm.qa.testcases.ChangePasswordTest"><methods><include name="changepasswordtest"/></methods></class><class name="com.crm.qa.testcases.HomePageTest"><methods><include name="homepagetitle"/></methods></class><class name="com.crm.qa.testcases.LoginPageTest"><methods><include name="logintest"/><include name="multiplelogin"/></methods></class><class name="com.crm.qa.testcases.NewArrivalPageTest"><methods><include name="newArrivalTest"/></methods></class></classes></test></suite>